<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img src="../../../assets/img/treinamento-funcional.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Treinamento Funcional</h5>
          <p class="card-text">O treinamento Funcional baseia-se no movimento
            natural do ser humado como correr, pular e empurrar.</p>
          <a href="#" class="link-secondary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="../../../assets/img/treinador.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Treino físico</h5>
          <p class="card-text">Treinamento de cada grupo muscular
            trabalhado duas vezes na semana usando
            aparelhos da academia.</p>
          <a href="#" class="link-secondary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="../../../assets/img/posicao-ioga.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ioga</h5>
          <p class="card-text">É um conceito que se refere as tradicionais
            disciplinas físicas e mentais originárias da
            Índia.</p>
          <a href="#" class="link-secondary">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
