@keyframes aumentar
  50%
    width: 175px
    height: 175px
  100%
    width: 200px
    height: 200px

.container
  padding: 20px
  .card
    border: none
    text-align: center
    a
      text-decoration: none
    img
      border-radius: 50%
      width: 140px
      height: 140px
      margin: 0 auto
      transition: 1s
      &:hover
        width: 200px
        height: 200px
      &:focus
        width: 200px
        height: 200px
