<div class="container">
  <h2>Conheca nossos planos</h2>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header text-center">
          Básico
        </div>
        <div class="card-body text-center">
          <h5 class="card-title" id="preco">
            <span>R$ 50</span>/mes
          </h5>
          <p class="card-text text-center">Treino 2 dias da semana, acompanhamento de personal trainer,
            aulas de spinning inclusas e teste físico gratuito.
          </p>
          <button class="btn btn-danger">Contrate esse plano</button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header text-center">
          Pro
        </div>
        <div class="card-body text-center">
          <h5 class="card-title" id="preco">
            <span>R$ 80</span>/mes
          </h5>
          <p class="card-text text-center">Treino 4 dias da semana, acompanhamento de personal trainer e nutricionista,
            aulas de spinning inclusas, ioga e teste físico gratuito.
          </p>
          <button class="btn btn-danger">Contrate esse plano</button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header text-center">
          Enterprise
        </div>
        <div class="card-body text-center">
          <h5 class="card-title" id="preco">
            <span>R$ 130</span>/mes
          </h5>
          <p class="card-text text-center">Treino 4 dias da semana, acompanhamento de personal trainer, nutricionista e psicóloga,
            aulas de spinning inclusas, ioga, zumba, cross-fit e teste físico gratuito.
          </p>
          <button class="btn btn-danger">Contrate esse plano</button>
        </div>
      </div>
    </div>
  </div>
</div>
